.toolbar {
    margin-bottom: 10px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content:center;
	flex-direction: column;

}

canvas {
    border: 2px solid black;
    background-color: white;
    cursor: crosshair;
}
canvas#canvas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
#undoBtn {
    background-color: red;
}
#clearBtn {
    background-color: darkred;
}
#saveBtn {
    background-color: green;
}
#addTextBtn {
    background-color: blue;
}
#insertImageBtn {
    background-color: #f8cb00;
}
button:hover {
    opacity: 0.8;
    scale: 1.05;
    transition: all 0.2s ease-in-out;
}

.linea {
	display: flex;
	align-items: center;
	text-align: center;
	justify-self: center;
	gap: 20px;
    height: 100px;
}
